{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
  <section class="section">
    <div class="container">
      <form method="post">
        {% if error %}
          <div class="message is-danger">
            <div class="message-body">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          </div>
        {% endif %}

        {% if app.user %}
          <div class="message is-info">
            <div class="message-body">
              You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
          </div>
        {% endif %}

        <h1 class="title">Please sign in</h1>
        <div class="field">
          <label class="label" for="inputEmail">Email</label>
          <div class="control">
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input" required
                   autofocus>
          </div>
        </div>

        <div class="field">
          <label class="label" for="inputPassword">Password</label>
          <div class="control">
            <input type="password" name="password" id="inputPassword" class="input" required>
          </div>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <div class="field">
          <button class="button is-link" type="submit">
            Sign in
          </button>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
