<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
  {% endblock %}
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
       data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <div class="field">
          <label for="search" class="label is-sr-only">Name</label>
          <div class="control">
            <input id="search" class="input" type="text" placeholder="Search" />
          </div>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      {% if not is_granted('ROLE_USER') %}
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" href="{{ path('app_register') }}">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="{{ path('app_login') }}">
              Log in
            </a>
          </div>
        </div>
      {% else %}
        <div class="navbar-item has-dropdown is-hoverable" href="{{ path("profile") }}">
          <a class="navbar-link">
          My Account
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{ path('profile') }}">
              Profile
            </a>
            <a class="navbar-item" href="{{ path('app_logout') }}">
              Logout
            </a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</nav>
{% block body %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
